<div id="<%= dom_id course %>">
  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= course.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= course.user_id %>
  </p>

</div>
